@model IEnumerable<GarageMVC.Models.Entities.Vehicle>
@{
    ViewData["Title"] = "Full view";
}
<br />
<h2>Full view</h2>


   <a asp-action="Create" class="btn btn-primary">Park a new vehichle</a>
<br />

<table class="table table-top" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoOfWheels)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrival)
                </td>           
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" class="btn btn-primary">Overview</a>
</div>