@model IEnumerable<GarageMVC.Models.ViewModels.VehicleOverview>


@{
    ViewData["Title"] = "Index";

}


<h1>Overview</h1>
<p>[Index.cshtml]</p>
<p>
    <form asp-action="Search">
        <div class="input-group">
            <p>
                <a asp-action="Create" class="btn btn-primary">Park a new vehichle</a>
            </p>
            @*<label class="form-label m-2">Search</label>*@
            <input type="text" name="searchString" class="form-control" placeholder="Enter RegNo" style="margin-left: 4%; max-height:35px; max-width:160px" />
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Find</button>
            </div>
        </div>
    </form>

    <div id="parked" hidden="hidden" class="alert alert-success alert-dismissible fade show" role="alert">
        Your  <strong>
            @ViewData["VehicleType"]
        </strong> with registration number:  <strong>@ViewData["RegNo"]</strong> has parked!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    <div id="checkedout" hidden="hidden" class="alert alert-warning alert-dismissible fade show" role="alert">
        Your  <strong>@ViewData["VehicleType"]</strong> with registration number: <strong>@ViewData["RegNo"]</strong> has checked out!
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    <div id="updated" hidden="hidden" class="alert alert-info alert-dismissible fade show" role="alert">
        Your <span>  <strong>@ViewData["VehicleType"]</strong></span> with registration number: <span><strong>@ViewData["RegNo"]</strong></span> has been updated!&nbsp;
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    @if (ViewData["ShowElement"] != null)
    {
        <script>
            function showElement() {
                let parked = document.querySelector("#parked");
                let checkedout = document.querySelector("#checkedout");
                let updated = document.querySelector("#updated");
                let element = @ViewData["ShowElement"];

                if (element == parked || element == checkedout || element == updated) {
                    element.removeAttribute("hidden");
                }
            }
            showElement();
        </script>
    }
    @* else
    {
    <script type="text/javascript">
    let element = document.querySelector("#checkedout");
    element.removeAttribute("hidden");
    element.innerText ="An error ocurred!";
    </script>
    }*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeOfArrival)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeOfArrival)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-primary" asp-route-id="@item.Id">Checkout</a>
                </td>
            </tr>
        }
    </tbody>
</table>
